body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.box {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  background: #0077b6;
  width: 150px;
  height: 150px;
}

.box2 {
  background: #00b4d8;
  width: 20%;
  height: 25vh;
}

.box3 {
  background: #90e0ef;
  width: 10em;
  min-height: 100px;
  max-width: 200px;
  overflow: hidden;
}
